src/main/mule/world-timezone-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de8c616d-3d2d-459f-bd16-0c9962e8f38a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f165ace5-6ccd-48bc-8378-acfa7c9878ba" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-timezone-appFlow" doc:id="e47f8bc3-dfc1-4291-a5c7-6f6c8999b3ea" >
		<http:listener doc:name="GET:/{region}/{city}" doc:id="b3340e65-0c1d-443d-b697-adea65e43187" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="2662c26e-1e63-43ad-88ff-979e8b41b0b3" message="ENTRY: #[flow.name]"/>
		<http:request method="GET" doc:name="Request" doc:id="29eaad0e-f363-445d-9d38-460cc0dc3592" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---

{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="cbb49cf6-c345-43ba-a570-b5a972f317c0" message="ENTRY: #[flow.name]"/>
	</flow>
</mule>
